body{
    background-color: rgb(211, 211, 216);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container{
    background-color: white;
    border-radius: 12px;
    width: 400px;
    max-width: 100%;
}

form{
    padding: 30px 40px;
   
}

.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

 label{
    display: inline;
    margin-bottom: 5px;
    border: 4px black;
    visibility: visible;
    border-radius: 40px;
    display: inline;
}

 input{
    border: 3px rgb(12, 12, 12);
    border-radius: 40px;
    display: inline;
    font-size: 15px;
    padding: 10px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.651);
}

button{
    background-color: royalblue;
    color: rgb(240, 231, 231);
    display: inline;
    font-weight: bold;
    font-size: 10px;
    padding: 10px;
    width: 100%;
    border-radius: 15px;
    margin-left: 10px;
    margin-top: 10px;
}

.placeholder{
    border: 5px black;
    background-color: grey;
    justify-content: left;
}

img{
    justify-content: center;
    align-items: center;
}