body{
    display: flex;
    background-color: lightgray;
}

.header{
    background-color: white;
    width: 100%;
    height: 85px;
}

.inline{
    display: inline-block;
    font-size: xx-large;
    margin-left: 30px;
    position: absolute;
    margin-top: none;
}


.doc{
    font-size: xx-large;
    margin-top: 40px;
    margin-left: 250px;
}


.Orcode{
    background-color: white;
    width: 50%;
   margin-left: 25%;
   height: 400px;
}

.scan{
    font-size: x-large;
    font-weight: bolder;
    margin-left: 155px;
    padding-top: 70px;

}

.code{
    float: left;
}

.r{
    margin-left: 125px;
}

.ife{
    margin-left: 120px;
}

.vl{
    border-left: 2px solid black;
    height: 300px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
    margin-top: 290px;
}

.second{
    margin-left: 20px;
    margin-top: 30px;
}

.fetch{
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.in{
    height: 35px;
    width: 175px;
}

.out{
    background-color: royalblue;
    color: white;
    height: 35px;
    width: 60px;
}